auto-py-to-exe==2.29.0
├── Eel [required: ==0.14.0, installed: 0.14.0]
│   ├── bottle [required: Any, installed: 0.12.23]
│   ├── bottle-websocket [required: Any, installed: 0.2.9]
│   │   ├── bottle [required: Any, installed: 0.12.23]
│   │   └── gevent-websocket [required: Any, installed: 0.10.1]
│   │       └── gevent [required: Any, installed: 22.10.2]
│   │           ├── cffi [required: >=1.12.2, installed: 1.15.1]
│   │           │   └── pycparser [required: Any, installed: 2.21]
│   │           ├── greenlet [required: >=2.0.0, installed: 2.0.2]
│   │           ├── setuptools [required: Any, installed: 67.2.0]
│   │           ├── zope.event [required: Any, installed: 4.6]
│   │           │   └── setuptools [required: Any, installed: 67.2.0]
│   │           └── zope.interface [required: Any, installed: 5.5.2]
│   │               └── setuptools [required: Any, installed: 67.2.0]
│   ├── future [required: Any, installed: 0.18.3]
│   ├── pyparsing [required: Any, installed: 3.0.9]
│   └── whichcraft [required: Any, installed: 0.6.1]
└── pyinstaller [required: >=4.6, installed: 5.8.0]
    ├── altgraph [required: Any, installed: 0.17.3]
    ├── pefile [required: >=2022.5.30, installed: 2023.2.7]
    ├── pyinstaller-hooks-contrib [required: >=2021.4, installed: 2022.15]
    ├── pywin32-ctypes [required: >=0.2.0, installed: 0.2.0]
    └── setuptools [required: >=42.0.0, installed: 67.2.0]
Cython==0.29.33
ipykernel==6.27.1
├── comm [required: >=0.1.1, installed: 0.2.0]
│   └── traitlets [required: >=4, installed: 5.14.0]
├── debugpy [required: >=1.6.5, installed: 1.8.0]
├── ipython [required: >=7.23.1, installed: 8.12.3]
│   ├── backcall [required: Any, installed: 0.2.0]
│   ├── colorama [required: Any, installed: 0.4.6]
│   ├── decorator [required: Any, installed: 5.1.1]
│   ├── jedi [required: >=0.16, installed: 0.19.1]
│   │   └── parso [required: >=0.8.3,<0.9.0, installed: 0.8.3]
│   ├── matplotlib-inline [required: Any, installed: 0.1.6]
│   │   └── traitlets [required: Any, installed: 5.14.0]
│   ├── pickleshare [required: Any, installed: 0.7.5]
│   ├── prompt-toolkit [required: >=3.0.30,<3.1.0,!=3.0.37, installed: 3.0.41]
│   │   └── wcwidth [required: Any, installed: 0.2.12]
│   ├── pygments [required: >=2.4.0, installed: 2.17.2]
│   ├── stack-data [required: Any, installed: 0.6.3]
│   │   ├── asttokens [required: >=2.1.0, installed: 2.4.1]
│   │   │   └── six [required: >=1.12.0, installed: 1.16.0]
│   │   ├── executing [required: >=1.2.0, installed: 2.0.1]
│   │   └── pure-eval [required: Any, installed: 0.2.2]
│   ├── traitlets [required: >=5, installed: 5.14.0]
│   └── typing-extensions [required: Any, installed: 4.8.0]
├── jupyter-client [required: >=6.1.12, installed: 8.6.0]
│   ├── importlib-metadata [required: >=4.8.3, installed: 6.8.0]
│   │   └── zipp [required: >=0.5, installed: 3.17.0]
│   ├── jupyter-core [required: >=4.12,!=5.0.*, installed: 5.5.0]
│   │   ├── platformdirs [required: >=2.5, installed: 4.0.0]
│   │   ├── pywin32 [required: >=300, installed: 306]
│   │   └── traitlets [required: >=5.3, installed: 5.14.0]
│   ├── python-dateutil [required: >=2.8.2, installed: 2.8.2]
│   │   └── six [required: >=1.5, installed: 1.16.0]
│   ├── pyzmq [required: >=23.0, installed: 25.1.2]
│   ├── tornado [required: >=6.2, installed: 6.3.3]
│   └── traitlets [required: >=5.3, installed: 5.14.0]
├── jupyter-core [required: >=4.12,!=5.0.*, installed: 5.5.0]
│   ├── platformdirs [required: >=2.5, installed: 4.0.0]
│   ├── pywin32 [required: >=300, installed: 306]
│   └── traitlets [required: >=5.3, installed: 5.14.0]
├── matplotlib-inline [required: >=0.1, installed: 0.1.6]
│   └── traitlets [required: Any, installed: 5.14.0]
├── nest-asyncio [required: Any, installed: 1.5.8]
├── packaging [required: Any, installed: 23.0]
├── psutil [required: Any, installed: 5.9.6]
├── pyzmq [required: >=20, installed: 25.1.2]
├── tornado [required: >=6.1, installed: 6.3.3]
└── traitlets [required: >=5.4.0, installed: 5.14.0]
openpyxl==3.1.2
└── et-xmlfile [required: Any, installed: 1.1.0]
pip==22.3.1
pipdeptree==2.13.2
pipenv==2023.11.15
├── certifi [required: Any, installed: 2023.11.17]
├── setuptools [required: >=67, installed: 67.2.0]
└── virtualenv [required: >=20.24.2, installed: 20.24.7]
    ├── distlib [required: >=0.3.7,<1, installed: 0.3.7]
    ├── filelock [required: >=3.12.2,<4, installed: 3.13.1]
    └── platformdirs [required: >=3.9.1,<5, installed: 4.0.0]
PuLP==2.7.0